/* :root{
    --misty-blue: #AEB8C4;
    --dark-blue: #05263B;
    --blue-grotto: #163B50;
    --slate: #9CA6B8;
  
  } */

  /* .noto-sans-<uniquifier> {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */
  

nav{
    color: #AEB8C4;
    font-family: "Noto Sans", serif;
    font-weight: normal;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background: rgb(5,38,59);
    background: linear-gradient(4deg, rgba(5,38,59,1) 34%, rgba(22,59,80,1) 76%);
}
.nav-links{
    list-style: none;
}
.nav-links a{
    color: inherit;
    text-decoration: none;
}
.nav-links li{
    display: inline-block;
    margin: auto 0.5rem;
}
.hamburger{
    display: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 3px ;
    padding-right: 3px;
    background: none;
}
.hamburger-line{
    width: 32px;
    height: 4px;
    background-color: #AEB8C4;
    margin: 6px auto;
    border-radius: 1px;
}

@media (max-width: 700px ) {
    nav{
        padding: 10px 20px;
        position: relative;
    }
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
/* @media (max-width: 700) {
    .ham-burger{
        display:block ;
    }
} */